<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Symbol</mat-label>
    <input matInput placeholder="Enter asset symbol" formControlName="symbol" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Asset Class</mat-label>
    <mat-select formControlName="assetClass">
      <mat-option></mat-option>
      <mat-option value="hr">Stock</mat-option>
      <mat-option value="it">Option</mat-option>
      <mat-option value="finance">Future</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Strategy Tag</mat-label>
    <mat-select formControlName="hasStrategy">
      <mat-option [value]="null"></mat-option>
      <mat-option [value]="true">Tagged</mat-option>
      <mat-option [value]="false">Untagged</mat-option>
    </mat-select>
  </mat-form-field>
</form>
