<div>
  <h2 class="mm-grid-title">Dashboard</h2>
  <div class="card-container">
    <div tabindex="0" class="e-card" id="basic">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title mm-card-title">Last Updated</div>
        </div>
      </div>
      <div class="e-card-content">
        Trading data were last updated on 04/04/2024
      </div>
    </div>
    <div tabindex="0" class="e-card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title mm-card-title">Data Continuity</div>
        </div>
      </div>
      <div class="e-card-content">
        Complete data continuity from 02/02/2013 to 04/04/2024 with no missing
        periods.
      </div>
    </div>
    <div tabindex="0" class="e-card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title mm-card-title">User parameters</div>
        </div>
      </div>
      <div class="e-card-content">
        The token from Interactive Brokers is expired. Please renew it.
        <a href="#">Edit user parameters.</a>
      </div>
    </div>
    <div tabindex="0" class="e-card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title mm-card-title">Strategy Tags</div>
        </div>
      </div>
      <div class="e-card-content">
        Some trading data are not associated to a strategy.<br />
        <a href="#">Please tag 18 trades.</a><br />
        <a href="#">Please tag 3 positions.</a><br />
        <a href="#">Please tag 5 dividends.</a><br />
      </div>
    </div>
  </div>
</div>
