<div class="form-box">
  <h1>Sign Up</h1>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Account Number</mat-label>
      <input matInput formControlName="accountNumber" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Query Id</mat-label>
      <input matInput formControlName="ibQueryId" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Token</mat-label>
      <input matInput formControlName="ibToken" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSubmit()">
      Sign Up
    </button>
  </form>
</div>
