<ejs-grid
  #grid
  [dataSource]="strategies"
  [editSettings]="editSettings"
  [toolbar]="toolbar"
>
  <e-columns>
    <e-column
      field="id"
      headerText="ID"
      isPrimaryKey="true"
      [visible]="false"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="dateCrated"
      headerText="Created"
      format="yMd"
      width="100"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="strategyName"
      headerText="Name"
      width="120"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="portfolioName"
      headerText="Portfolio"
      editType="dropdownedit"
      [edit]="portfolios"
      width="150"
    ></e-column>
    <e-column
      field="description"
      headerText="Description"
      width="100"
      [allowEditing]="false"
    ></e-column>
  </e-columns>
</ejs-grid>
