<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav?.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Toolbar Title
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button class="menu-button">
          <mat-icon svgIcon="server"></mat-icon>
          <span> Trades</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="menu-button">
          <mat-icon svgIcon="site"></mat-icon>
          <span> Positions</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="menu-button">
          <mat-icon svgIcon="account"></mat-icon>
          <span> Dividends</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="menu-button">
          <mat-icon svgIcon="admin"></mat-icon>
          <span> Portfolios</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="menu-button">
          <mat-icon svgIcon="admin"></mat-icon>
          <span> Strategies</span>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-grid></app-grid>
  </mat-sidenav-content>
</mat-sidenav-container>
