<ejs-grid
  [dataSource]="data$ | async"
  [editSettings]="editSettings"
  [toolbar]="toolbar"
>
  <e-columns>
    <e-column
      field="id"
      headerText="ID"
      isPrimaryKey="true"
      textAlign="Right"
      width="100"
      [visible]="false"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="date"
      headerText="Date"
      format="yMd"
      textAlign="Right"
      width="100"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="symbol"
      headerText="Symbol"
      width="120"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="strategy"
      headerText="Strategy"
      editType="dropdownedit"
      [edit]="strategyParams"
      width="150"
    ></e-column>
    <e-column
      field="quantity"
      headerText="Quantity"
      textAlign="Right"
      width="100"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="price"
      headerText="Price"
      format="C2"
      textAlign="Right"
      width="100"
      [allowEditing]="false"
    ></e-column>
  </e-columns>
</ejs-grid>
