<mat-nav-list>
  <mat-list-item>
    <button mat-button class="menu-button">
      <span><a routerLink="trade-view">Trades</a></span>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button class="menu-button">
      <span><a routerLink="position-view">Positions</a></span>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button class="menu-button">
      <span> Dividends</span>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button class="menu-button">
      <span> Portfolios</span>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button class="menu-button">
      <span> Strategies</span>
    </button>
  </mat-list-item>
</mat-nav-list>
