@import "../node_modules/@syncfusion/ej2-material3-theme/styles/material3.css";
@import "@fortawesome/fontawesome-free/css/all.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
