<ejs-grid
  #grid
  [dataSource]="positions"
  [editSettings]="editSettings"
  [toolbar]="toolbar"
>
  <e-columns>
    <e-column
      field="id"
      headerText="ID"
      isPrimaryKey="true"
      [visible]="false"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="reportDate"
      headerText="Report Date"
      format="yMd"
      textAlign="Right"
      width="100"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="symbol"
      headerText="Symbol"
      width="120"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="strategy"
      headerText="Strategy"
      editType="dropdownedit"
      [edit]="strategyParams"
      width="150"
    ></e-column>
    <e-column
      field="assetClass"
      headerText="Asset Class"
      textAlign="Right"
      width="100"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="quantity"
      headerText="Quantity"
      textAlign="Right"
      width="100"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="buyPrice"
      headerText="Buy Price"
      format="C2"
      textAlign="Right"
      width="100"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="marketPrice"
      headerText="Market Price"
      format="C2"
      textAlign="Right"
      width="100"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="marketValue"
      headerText="Market Value"
      format="C2"
      textAlign="Right"
      width="100"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="gainLoss"
      headerText="Gain Loss"
      format="C2"
      textAlign="Right"
      width="100"
      [allowEditing]="false"
    ></e-column>
    <e-column
      field="gainLossPct"
      headerText="Gain Loss %"
      format="P2"
      textAlign="Right"
      width="100"
      [allowEditing]="false"
    ></e-column>
  </e-columns>
</ejs-grid>
